<hr>
<div class="row">
    <div class="col-md-3"><a href="#">About us</a></div>
    <div class="col-md-3"><a href="#">Contact us</a></div>
    <div class="col-md-3"><a href="#">FAQ</a></div>
    <div class="col-md-3"><a href="#"> Copyright @2018</a></div>
</div>
