
<div class="col-sm-6 offset-sm-2">
    <!-- <button class="btn btn-primary" (click)="registerHandler()">
        <ul >
            <li *ngFor="let c of countries" >{{c.text}}</li>
        </ul>
    </button> -->
    countries works!
  </div>

  <!-- <ul class="form-control">
    <li *ngFor="let c of countries">{{c.text}}</li>
  </ul> -->