<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Brand -->
  <a class="navbar-brand" href="#">{{title}}</a>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="nav-content">
      <ul class="navbar-nav" >
        <li class="nav-item" *ngFor="let i of navLinks">
          <a class="nav-link" [routerLink]="i.displayName"><i [class]="i.icon"></i>{{i.displayName}}</a>
        </li> 

        <li>

          <li class="menu-country">
            countryvimal
            <ul class="country-drop">
                <li *ngFor="let c of countries" >{{c.text}}
            </li>
          </ul>
          </li>   
      </ul>
      </div>
</nav>
