<table>
  <tr *ngFor="let p of proLinks">
    <td>
      {{p.proName}}
    </td>
    <td>
      {{p.proPrice}}
    </td>
    <td>
      {{p.proDesc}}
    </td>
    <td>
      {{p.proCat}}
    </td>
  </tr>
</table>